# this file is a "template" of what your parameters.yml file should look like
# set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
#this is no more used. .env var is now used instead. todo: see how to remove it.
parameters:
  foo:bar