# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app_title: Symfony 3 video app POC
    app_short_title: my cool video app
    app_slogan: the aim of this app is to manage videos with elegance based on sf3.
    app_locale: fr
    app_number_video_homepage: 6
    app_about: Welcome to this app. Place here a descriptive message about this app

    database_host: 127.0.0.1
    database_port: ~
    database_name: videoapp
    database_user: videoapp
    database_password: videoapp

    database_test_host: 127.0.0.1
    database_test_port: ~
    database_test_name: videoapptest
    database_test_user: videoapptest
    database_test_password: videoapptest

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: no-reply@video-app.com
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt