{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Welcome to your fav video app</h1>
                <div class="row">
                    <div class="col-md-offset-2 col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eaque magnam quasi vel. Ab dignissimos distinctio, error esse hic nesciunt quibusdam tempora ut. Aliquam animi facilis neque
                            nihil quod
                            sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deserunt impedit iusto quod totam! A commodi, dolorem ducimus ea labore neque nostrum, numquam obcaecati odit quidem
                            repudiandae
                            sit, suscipit tenetur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt itaque pariatur rem saepe. Aliquam aliquid amet eligendi enim ipsum, minima mollitia
                            porro
                            praesentium, quia rem, saepe sint sit ullam.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-6">
                        <a class="btn btn-primary" href="{{ path('video_index') }}">Video management</a>
                        <a class="btn btn-default" href="#">User management</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}