#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff url('/assets/dist/image/loader.gif') no-repeat center center;
    z-index: 9999;
}

/*fonts*/
@font-face {
    font-family: "Oswald-Regular";
    src: url('../fonts/Oswald-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Oswald-Bold";
    src: url('../fonts/Oswald-Bold.ttf') format("truetype");
}

body {
    font-family: "Oswald-Regular", sans-serif;
}

h1 {
    text-align: left;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Oswald-Bold", sans-serif;
    text-shadow: 0px 0px 9px #777;
}

.modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#img-logo {
    max-width: 200px;
    max-height: 65px;
}

/*form style*/
.form-error-message {
    color: red;
}

li.form-error-message {
    list-style-type: none;
    margin-left: 0;
}

ul.form-error {
    padding-left: inherit;
}

/*videojs*/
.vjs-paused .vjs-big-play-button {
    display: none;
}