{% extends 'base.html.twig' %}
{% import '::utils.html.twig' as utils %}
{% trans_default_domain "video" %}
{% block body %}
    <h2>{% trans %}index.title{% endtrans %}</h2>
    <a class="btn btn-primary" href="{{ path('video_new') }}">{% trans %}index.create_video{% endtrans %}</a>
    <a class="btn btn-info" href="{{ path('video_search') }}">{% trans %}index.search_video{% endtrans %}</a>
    {{ utils.video_list(videos) }}
{% endblock %}
