{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="http://vjs.zencdn.net/6.2.5/video-js.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2>Streaming with videoJS (work in progress)</h2>
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
           poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
        <source src="{{ path('video_stream',{'id':video.id}) }}" type='video/mp4'>
        {#<source src="MY_VIDEO.webm" type='video/webm'>#}
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
{% endblock %}

{% block javascripts %}
    <script src="http://vjs.zencdn.net/6.2.5/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
{% endblock %}
